
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Factom Explorer</title>
    <meta name="description" content="Alpha release of the Factom Explorer. Search for data secured by Factom.">
    <link href="../css/main.css" rel="stylesheet" />
</head>

<body class="chains">
  <div class="full-view-wrap">

	{{template "header.html"}}

  <div class="mask"></div>

  <div class="main">

    <div class="error-message">
        <img src="../images/error-404.png" class="img-responsive error-graphic">
        <p>Oops! The page you're looking for cannot be found.</p>
        <a href="/" class="home-link">Factom Explorer Home</a>
    </div>

  </div>
</div>

</div>
<script src="../scripts/min/scripts-min.js"></script>

</body>
</html>
