{{$pageTitle := "Factom Explorer"}}
{{$pageDescription := "Alpha release of the Factom Explorer. Search for data secured by Factom."}}
{{$bodyClass := "block"}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{$pageTitle}}</title>
    <meta name="description" content={{$pageDescription}}>
    <link href="/css/main.css" rel="stylesheet" />
</head>

<body class={{$bodyClass}}>
  <div class="full-view-wrap">

	{{template "header.html"}}

  <div class="mask"></div>

  <div class="main">
      <h1 class="screen-title">{{chainNamePrefixFilter .Block.ChainID}} Block</h1>

    <div class="card">
      <dl class="blockinfo">
        <div>
          <dt>Partial Hash:</dt>
          <dd>{{hashfilter .Block.PartialHash}}</dd>
        </div>
        <div>
          <dt>Full Hash:</dt>
          <dd>{{.Block.FullHash}}</dd>
        </div>
        {{if .Block.IsEntryBlock}}
          <div>
            <dt>ChainID:</dt>
            <dd><a href="/chain/{{.Block.ChainID}}">{{.Block.ChainID}}</a></dd>
          </div>
        {{end}}
        <div>
          <dt>Entries:</dt>
          <dd>{{.Count}}</dd>
        </div>
        <div>
          <dt>Previous Block:</dt>
          <dd><a href="/{{blockPrefixFilter .Block.ChainID}}/{{hashfilter .Block.PrevBlockHash}}">{{hashfilter .Block.PrevBlockHash}}</a></dd>
        </div>
        <div>
          <dt>Created:</dt>
          <dd>{{.Block.Timestamp}}</dd>
        </div>
        <div>
          <dt>Raw binary:</dt>
          <div>{{.Block.BinaryString}}</div>
        </div>
        <div>
          <dt>JSON Data:</dt>
          <div>{{.Block.JSONString}}</div>
        </div>
        <div>
          <dt>Spew Data:</dt>
          <div>{{.Block.SpewString}}</div>
        </div>
      </dl>
    </div>
  </div>

  <h1 class="screen-title">Entries <span class='screen-title-sub'>included in this entry block</span></h1>

     <div class="card">
      <table class="table table-hover standard-table clickable-rows">
              <thead>
                  <tr class="first">
                      <th class="date-time">Created</th>
                      <th class="hidden-xs ">Hash</th>
                  </tr>
              </thead>
              <tbody>
              {{range .Block.EntryList}}
                {{if .ShortEntry}}
                  <tr>
                      <td>{{.Timestamp}}</td>
                      <td class="hidden-xs">{{.ShortEntry}}</td>
                  </tr>
                {{else}}
                    <tr class="clickableRow"href="/entry/{{hashfilter .Hash}}">
                        <td>{{.Timestamp}}</td>
                        <td class="hidden-xs">{{hashfilter .Hash}}</td>
                    </tr>
                  {{end}}
              {{end}}

              </tbody>
          </table>

    </div>
	{{template "pagination.html" .PageInfo}}
  </div>

</div>
<script src="/scripts/min/scripts-min.js"></script>

</body>
</html>
