{{$pageTitle := "Factom Explorer"}}
{{$pageDescription := "Alpha release of the Factom Explorer. Search for data secured by Factom."}}
{{$bodyClass := "chain"}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{$pageTitle}}</title>
    <meta name="description" content={{$pageDescription}}>
    <link href="../css/main.css" rel="stylesheet" />
</head>

<body class={{$bodyClass}}>
  <div class="full-view-wrap">

	{{template "cheader.html"}}

  <div class="mask"></div>

  <div class="main">

    <h1 class="screen-title">Chain</h1>

    <div class="card">
      <dl class="blockinfo">
        <div>
          <dt>Chain Name:</dt>
          <dd class="chain-name">{{.Name.Encoded}}, {{.Name.Decoded}}</dd>
        </div>
        <div>
          <dt>Chain ID:</dt>
          <dd>{{.ChainID}}</dd>
        </div>
      </dl>
    </div>
  </div>

	{{with .FirstEntry}}
    <h1 class="screen-title">First Entry</h1>
     <div class="card entry-block-list">
      <dl class="blockinfo">
        <div>
          <dt>Chain:</dt>
          <dd>{{.ChainID}}</dd>
        </div>
        {{range .ExternalIDs}}
        {{with .}}
        <div>
          <dt>External ID:</dt>
          <dd>
            <span>{{.Encoded}}, {{.Decoded}}</span>
          </dd>
        </div>
   	   {{end}}
 	   {{end}}
    
        <div>
          <dt>Content:</dt>
          <dd>{{.Content.Encoded}}, {{.Content.Decoded}}</dd>
        </div>
      </dl>
      </div>
     {{end}}

  </div>

  </div>

</div>
<script src="../scripts/min/scripts-min.js"></script>

</body>
</html>
