{{$pageTitle := "Factom Explorer"}}
{{$pageDescription := "Alpha release of the Factom Explorer. Search for data secured by Factom."}}
{{$bodyClass := "eblock"}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{$pageTitle}}</title>
    <meta name="description" content={{$pageDescription}}>
    <link href="../css/main.css" rel="stylesheet" />
</head>

<body class={{$bodyClass}}>
  <div class="full-view-wrap">

	{{template "header.html"}}

  <div class="mask"></div>

  <div class="main">

    <h1 class="screen-title">Entry Block : {{.Header.BlockID}} </h1>

    <div class="card">
      <dl class="blockinfo">
        <div>
          <dt>Previous Block:</dt>
          <dd><a href="eblock/{{hashfilter .Header.PrevBlockHash}}">{{hashfilter .Header.PrevBlockHash}}</a></dd>
        </div>
        <div>
          <dt>Created:</dt>
          <dd>{{.Time}}</dd>
        </div>
      </dl>
    </div>
  </div>

  <h1 class="screen-title">Entries <span class='screen-title-sub'>included in this entry block</span></h1>

     <div class="card">
      <table class="table table-hover standard-table clickable-rows">
              <thead>
                  <tr class="first">
                      <th class="block-id">ID</th>
                      <th class="date-time">Created</th>
                      <th class="hidden-xs ">Hash</th>
                  </tr>
              </thead>
              <tbody>
              {{range .EBEntries}}
              	{{with .}}
                  <tr class="clickableRow"href="/sentry/{{hashfilter .Hash}}">
                      <td><span>{{hashfilter .Hash}}</span></td>
                      <td>{{.Time}}</td>
                      <td class="hidden-xs">{{hashfilter .Hash}}</td>
                  </tr>
                {{end}}
              {{end}}

              </tbody>
          </table>
    </div>
  </div>

</div>
<script src="../scripts/min/scripts-min.js"></script>

</body>
</html>
