{{$pageTitle := "Factom Explorer"}}
{{$pageDescription := "Alpha release of the Factom Explorer. Search for data secured by Factom."}}
{{$bodyClass := "eblock"}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{$pageTitle}}</title>
    <meta name="description" content={{$pageDescription}}>
    <link href="../css/main.css" rel="stylesheet" />
</head>

<body class={{$bodyClass}}>
  <div class="full-view-wrap">

  <header>
      <span class="logo"></span>
      <div class="searchrow container-fluid">
        <div class="row">
          <div class="input-group search">
            <div class="input-group-addon icon-prepend"><span class="icon-ic_search_48px"></span></div>
            <div class="form-control-wrapper"><input type="text" id="searchText" placeholder="Search" class="form-control search-field empty"></div>
            <div class="input-group-addon clear-search"><a href="#"><span class="icon-ic_clear_48px"></span></a></div>
            <div class="input-group-btn search-type-picker">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">External ID <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#" class="search-type withripple">External ID</a></li>
                <li><a href="#" class="search-type withripple">Chain Name</a></li>
                <li><a href="#" class="search-type withripple">Entry Hash</a></li>
                <li><a href="#" class="search-type withripple">Entry Block Hash</a></li>
                <li><a href="#" class="search-type withripple">Directory Block Hash</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="tabs">
                <a href="index.html"class="tab withripple selected">Explorer</a><a href="chains.html"class="tab withripple">Chains</a>
            </div>
        </div>
      </div>
      <!-- Sidr - navigation & menu -->
      <a id="sidr-toggle" href="#sidr-main" class="side-menu-toggle"><span class="icon-ic_menu_36px"></span></a>
      <img class="bg-header" src="../images/bg-header.png">
       <div id="side-navigation" class="side-navigation">
    <nav class="nav">
        <ul>
            <li><a href="index.html" class="selected">Explorer</a></li>
            <li><a href="chains.html">Chains</a></li>
            <li><a href="https://github.com/FactomProject/FactomDocs" target="_blank">Github <span class="icon-ic_open_in_new_48px"></span></a></li>
        </ul>
    </nav>
</div>  </header>
  <span id="back-top">
    <a href="#top"><span class="icon-ic_keyboard_arrow_up_48px"></span></a>
  </span>
  <div class="mask"></div>

  <div class="main">

    <h1 class="screen-title">Entry Block : {{.Header.BlockID}} </h1>

    <div class="card">
      <dl class="blockinfo">
//        <div>
//          <dt>Chain Name:</dt>
//          <dd><a href="chain/{{.ebInfo.ChainID}}">{{.ebInfo.ChainID}}</a></dd>
//        </div>
//        <div>
//          <dt>Chain ID:</dt>
//          <dd>{{.eBlock.Header.ebInfo.ChainID}}</dd>
//        </div>
//        <div>
//          <dt>Block Hash:</dt>
//          <dd>{{.ebHash}}</dd>
//        </div>
        <div>
          <dt>Previous Block:</dt>
          <dd><a href="eblock/{{.Header.PrevBlockHash}}">{{.Header.PrevBlockHash}}</a></dd>
        </div>
        <div>
          <dt>Created:</dt>
          <dd>{{.Time}}</dd>
        </div>
//        <div>
//          <dt>Directory Block:</dt>
//          <dd><a href="dblock/{{.eBlock.Header.ebInfo.DBHash}}">{{.eBlock.Header.ebInfo.DBHash}}</a></dd>
//        </div>
      </dl>
    </div>
  </div>

  <h1 class="screen-title">Entries <span class='screen-title-sub'>included in this entry block</span></h1>

     <div class="card">
      <table class="table table-hover standard-table clickable-rows">
              <thead>
                  <tr class="first">
                      <th class="block-id">ID</th>
                      <th class="date-time">Created</th>
                      <th class="hidden-xs ">Hash</th>
                  </tr>
              </thead>
              <tbody>
              {{range .EBEntries}}
              	{{with .}}
                  <tr class="clickableRow"href="sentry/{{.Hash}}">
                      <td><span>{{.Hash}}</span></td>
                      <td>{{/*.RealTime*/}}</td>
                      <td class="hidden-xs">{{.Hash}}</td>
                  </tr>
                {{end}}
              {{end}}

              </tbody>
          </table>
    </div>
  </div>

</div>
<script src="../scripts/min/scripts-min.js"></script>

</body>
</html>
