{{$pageTitle := "Factom Explorer"}}
{{$pageDescription := "Alpha release of the Factom Explorer. Search for data secured by Factom."}}
{{$bodyClass := "eblock"}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{$pageTitle}}</title>
    <meta name="description" content={{$pageDescription}}>
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
</head>

<body class={{$bodyClass}}>
  <div class="full-view-wrap">

	{{template "header.html"}}
  <div class="mask"></div>

  <div class="main">

  	<h1 class="screen-title">Search Result - Entries</h1>

     <div class="card">
      <table class="table table-hover standard-table clickable-rows">
              <thead>
                  <tr class="first">
                      <th class="hidden-xs">Entry Hash</th>
                  </tr>
              </thead>
              <tbody>
			{{range .}}
                  <tr>
                      <td class="hidden-xs"><a href="/entry/{{.}}">{{.}}</a></td>
                  </tr>
              {{end}}
              </tbody>
       </table>     

    </div>
  </div>


<script src="../scripts/min/scripts-min.js"></script>

</body>
</html>
