{{$pageTitle := "Factom Explorer"}}
{{$pageDescription := "Alpha release of the Factom Explorer. Search for data secured by Factom."}}
{{$bodyClass := "entry"}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{$pageTitle}}</title>
    <meta name="description" content={{$pageDescription}}>
    <link href="../css/main.css" rel="stylesheet" />
</head>

<body class={{$bodyClass}}>
  <div class="full-view-wrap">

	{{template "header.html"}}
  <div class="mask"></div>

  <div class="main">

  <h1 class="screen-title">{{chainNamePrefixFilter .ChainID}} Data</h1>

     <div class="card entry-block-list">
      <dl class="blockinfo">
        <div>
          <dt>Hash:</dt>
          <dd>{{.Hash}}</dd>
        </div>
        <div>
          <dt>Chain:</dt>
          <dd>{{.ChainID}}</dd>
        </div>
        <div>
          <dt>Timestamp:</dt>
          <dd>{{.Timestamp}}</dd>
        </div>
        <div>
          <dt>Minute Marker:</dt>
          <dd>{{.MinuteMarker}}</dd>
        </div>
	    
        <div>
          <dt>Entry Data:</dt>
          <div>{{.BinaryString}}</div>
        </div>
        <div>
          <dt>JSON Data:</dt>
          <div>{{.JSONString}}</div>
        </div>
        <div>
          <dt>Spew Data:</dt>
          <div>{{.SpewString}}</div>
        </div>
      </dl>
      </div>

  </div>


    </div>
  </div>

</div>
<script src="../scripts/min/scripts-min.js"></script>

</body>
</html>
