  <header>
      <span class="logo"></span>
      <div class="searchrow container-fluid">
        <div class="row">
          <div class="input-group search">
            <div class="input-group-addon icon-prepend"><span class="icon-ic_search_48px"></span></div>
            <div class="form-control-wrapper"><input type="text" id="searchText" placeholder="Search" class="form-control search-field empty"></div>
            <div class="input-group-addon clear-search"><a href="#"><span class="icon-ic_clear_48px"></span></a></div>
            <div class="input-group-btn search-type-picker">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">External ID <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#" class="search-type withripple">External ID</a></li>
                <li><a href="#" class="search-type withripple">Chain Name</a></li>
                <li><a href="#" class="search-type withripple">Entry Hash</a></li>
                <li><a href="#" class="search-type withripple">Entry Block Hash</a></li>
                <li><a href="#" class="search-type withripple">Directory Block Hash</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="tabs">
                <a href="index.html"class="tab withripple selected">Explorer</a><a href="chains.html"class="tab withripple">Chains</a>
            </div>
        </div>
      </div>
      <!-- Sidr - navigation & menu -->
      <a id="sidr-toggle" href="#sidr-main" class="side-menu-toggle"><span class="icon-ic_menu_36px"></span></a>
      <img class="bg-header" src="../images/bg-header.png">
       <div id="side-navigation" class="side-navigation">
    <nav class="nav">
        <ul>
            <li><a href="index.html" class="selected">Explorer</a></li>
            <li><a href="chains.html">Chains</a></li>
            <li><a href="https://github.com/FactomProject/FactomDocs" target="_blank">Github <span class="icon-ic_open_in_new_48px"></span></a></li>
        </ul>
    </nav>
</div>  </header>
  <span id="back-top">
    <a href="#top"><span class="icon-ic_keyboard_arrow_up_48px"></span></a>
  </span>
