{{$pageTitle := "Factom Explorer"}}
{{$pageDescription := "Alpha release of the Factom Explorer. Search for data secured by Factom."}}
{{$bodyClass := "explorer"}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{$pageTitle}}</title>
    <meta name="description" content={{$pageDescription}}>
    <link href="/css/main.css" rel="stylesheet" />
</head>

<body class={{$bodyClass}}>
  <div class="full-view-wrap">

	{{template "header.html"}}

  <div class="mask"></div>

  <div class="main">

    <h1 class="screen-title">Directory Blocks</h1>

    <div class="card">
      <table class="table table-hover standard-table clickable-rows">
              <thead>
                  <tr class="first">
                      <th class="block-id">ID</th>
                      <th class="date-time">Block Time</th>
                      <th class="hidden-xs ">Hash</th>
                  </tr>
              </thead>
              <tbody>
		{{range .DBlocks}}
		{{with .}}
			<tr class="clickableRow" href="/dblock/{{.DBHash}}">
				<td><span>{{.Header.BlockID}}</span></td>
				<td>{{.Time}}</td>
				<td class="hidden-xs">{{.DBHash}}</td>
 		    	</tr>
		{{end}}
		{{end}}
              </tbody>
          </table>
    </div>
    {{template "pagination.html" .PageInfo}}
  </div>

</div>
<script src="../scripts/min/scripts-min.js"></script>

</body>
</html>
