<nav class="nav-pagination">
  <ul class="pagination">
    <li>
      <a href="#" class="previous">
        <span class="icon-ic_chevron_left_48px withripple"></span>
      </a>
    </li>
    <li><a href="#" class="withripple">1</a></li>
    <li><a href="#" class="current withripple">2</a></li>
    <li><a href="#" class="withripple">3</a></li>
    <li><a href="#" class="withripple">4</a></li>
    <li><a href="#" class="withripple">5</a></li>
    <li>
      <a href="#" class="next">
        <span class="icon-ic_chevron_right_48px withripple"></span>
      </a>
    </li>
  </ul>
</nav>