<nav class="nav-pagination">
  <ul class="pagination">
  	{{if .Prev}}
	    <li>
	      <a href="?page={{.Prev}}" class="previous">
	        <span class="icon-ic_chevron_left_48px withripple"></span>
	      </a>
	    </li>
 	   <li><a href="?page={{.Prev}}" class="withripple">{{.Prev}}</a></li>
    {{end}}
    <li><a href="?page={{.Current}}" class="current withripple">{{.Current}}</a></li>
    {{if le .Next .Max}}
 	   <li><a href="?page={{.Next}}" class="withripple">{{.Next}}</a></li>
 	{{end}}
	{{if le .Next1 .Max}}
	    <li><a href="?page={{.Next1}}" class="withripple">{{.Next1}}</a></li>
 	{{end}}
	{{if le .Next2 .Max}}
 	   <li><a href="?page={{.Next2}}" class="withripple">{{.Next2}}</a></li>
 	{{end}}
	{{if le .Next .Max}}
	    <li>
	      <a href="?page={{.Next}}" class="next">
	        <span class="icon-ic_chevron_right_48px withripple"></span>
	      </a>
	    </li>
 	{{end}}
  </ul>
</nav>
